@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme {
  --color-charcoal: #2e3a4f;
  --color-login-grey: #a3a2a5;
  --color-background: #f5f3ff;

  --color-gold-200: #f3c463;
  --color-gold-500: #ba8d2e;

  --color-home-blue: #c6d1e6;
  --color-home-blue-100: #b2bccf;
  --color-home-blue-300: #a3b5d6;
  --color-home-bg-200: #454456;
  --color-home-bg-500: #252438;
  --color-home-bg-600: #1d1d2c;
  --color-home-mute: #2b2b32;
  --color-home-blue-100: #91e7ef;

  --font-abril: "Abril Fatface", "serif";
  --font-space: "Space Grotesk", "sans-serif";
  --font-josefin: "Josefin Sans", "sans-serif";
}

@layer components {
  body {
    @apply text-black;
  }

  .no-scroll {
    @apply overflow-hidden touch-none;
  }
  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }

  .mask-clip-path {
    @apply [clip-path:_polygon(0_0,_100%_0,_100%_100%,_0_100%)];
  }

  .home-heading {
    @apply uppercase !font-abril font-black !text-6xl sm:!right-10 sm:!text-7xl md:!text-9xl lg:!text-[10rem];
  }

  .floating-nav {
    @apply bg-black rounded-lg border [&_*]:!text-violet-50;
  }

  .contacts_heading {
    @apply !font-abril text-5xl md:text-8xl;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .header-item {
    @apply hidden sm:flex !p-1.5 cursor-pointer relative transition-all text-charcoal font-medium !text-[1.12em] uppercase 
      active:!text-amber-500 active:font-bold active:hover:after:bg-amber-500 
      hover:after:w-full 
      after:content-[''] after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-charcoal after:transition-all after:duration-300 after:ease-in-out;
  }

  .header-item-active {
    @apply !text-amber-500 hover:after:w-full after:bg-amber-500;
  }

  .header-after {
    @apply absolute bottom-0 left-0 h-0.5 w-0 bg-charcoal transition-all duration-300 ease-in-out;
  }

  .button-anim {
    @apply relative overflow-hidden !px-6 !py-2 font-semibold text-home-blue;
  }
  .button-anim-text {
    @apply relative z-10 transition-colors duration-300 group-hover:text-gold-500 active:text-gold-200;
  }
  .button-anim-slide {
    @apply absolute inset-0 translate-y-full bg-[rgba(69,69,86,.5)] transition-transform duration-300 group-hover:translate-y-0 active:bg-[rgba(69,69,86,.7)];
  }

  .gallery-image {
    @apply w-[300px] h-auto block transition-transform duration-150 ease-in-out hover:scale-104 cursor-pointer;
  }
  .mobile-card {
    @apply flex flex-col justify-between items-center !py-4 !px-3 bg-[linear-gradient(to_top,_#F5BDBD,_#EBE5D6)] rounded-2xl gap-3 min-w-[80dvw] shadow-[1px_1px_8px_2px_rgba(71,69,69,0.25)] hover:scale-101 transition-all duration-250 hover:shadow-[1px_1px_16px_2px_rgba(71,69,69,0.3)];
  }
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    list-style: none;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
  }

  @layer utilities {
    .animate {
      @apply bg-black;
    }
  }
}

@utility utils {
  @layer utilities {
    .header-link {
      @apply relative text-black no-underline;
    }
    .header-link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0%;
      background-color: black;
      transition: width 0.3s ease;
    }

    .header-link:hover::after {
      width: 100%;
    }

    .header-link.active {
      color: var(--color-gold-100);
      font-weight: 700;
    }

    .header-link.active:hover::after {
      background-color: var(--color-gold-100);
      width: 100%;
    }
  }
}
