@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-login-hg: #2734d3;
  --color-login-hg-10: rgba(39, 52, 211, 0.1);
  --color-login-hg-50: rgba(42, 56, 219, 1);
  --color-charcoal: #2e3a4f;
  --color-login-grey: #a3a2a5;
  --color-login-bg: #f7f7fb;
  --color-charcoal-10: rgba(0, 0, 0, 0.1);
  --color-charcoal-50: rgba(0, 0, 0, 0.5);
  --color-gold-500: #ba8d2e;
}

@layer components {
  .header-item {
    @apply !p-1.5 cursor-pointer relative transition-all text-charcoal font-medium !text-base uppercase 
      active:!text-gold-500 active:font-bold active:hover:after:bg-gold-500 
      hover:after:w-full 
      after:content-[''] after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-charcoal after:transition-all after:duration-300 after:ease-in-out;
  }

  .header-item-active {
    @apply !text-gold-500 hover:after:w-full after:bg-gold-500;
  }

  .header-after {
    @apply absolute bottom-0 left-0 h-0.5 w-0 bg-charcoal transition-all duration-300 ease-in-out;
  }
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}
