@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-login-hg: #2734d3;
  --color-login-hg-10: rgba(39, 52, 211, 0.1);
  --color-charcoal: #2e3a4f;
  --color-login-grey: #a3a2a5;
  --color-login-bg: #f7f7fb;
  --color-charcoal-10: rgba(0, 0, 0, 0.1);
  --color-charcoal-50: rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}
