// COLORS
@use "sass:color";

$secondary-bg: #eddada;
$secondary-hg-bg: #d8a0a0;
$text-color: #373131;
$button-hover-bg: transparent;
$button-hover-text: #d8a0a0;
$gold-text: #ba8d2e;

// Insta & twt colors
$colors: (
  instagram: #c13584,
  twitter: #1da1f2,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{color.adjust($color, $hue: 12deg)};
  }
}

// MAIN PAGE

$main-button-bg: #2b424e;
$main-button-bg-hover: #505e66;

$semibold-weight: 600;
$xbold-weight: 800;

@mixin fontAbril($size: 96px, $weight: 400, $style: normal) {
  font-family: "Abril Fatface", serif;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}

@mixin button-style($bg-color, $text-color, $border-color) {
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 312px;
  font-size: 22px;
  font-weight: $xbold-weight;
  border-radius: 8px;
  background: $bg-color;
  color: $text-color;
  border: 2px solid $border-color;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-bg;
    color: $bg-color;
  }
}

%card-style {
  color: $text-color;
  border-radius: 16px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
